PIHOLE_IMAGE=ovelayos/pihole-wd-ex4100:2026.04.1-ex4100-r4
CONTAINER_NAME=pihole-ex4100
HOSTNAME=pihole-ex4100

TZ=Europe/Madrid

DNS_PORT=53
WEB_PORT=8081
HTTPS_PORT=8443

PIHOLE_PASSWORD=CAMBIA_ESTA_PASSWORD
DNS_LISTENING_MODE=ALL

PIHOLE_CONFIG_PATH=/shares/Volume_1/docker/pihole-ex4100/etc-pihole
DNSMASQ_CONFIG_PATH=/shares/Volume_1/docker/pihole-ex4100/etc-dnsmasq.d
